<SNFApplicationSettings>
	<settings>
		<!-- Provides Services Providers -->
		<add key="Application.ServiceProvider.File" value="Configuration/ServiceProviderConfiguration.xml" type="path"/>
		<add key="Application.DataProvider.File" value="Configuration/ConsumerSideDataProviderConfiguration.xml" type="path"/>
		<add key="Application.Messages.File" value="Configuration/Messages.xml" type="path"/>
		<add key="Application.DataService.File" value="Configuration/DataServiceConfiguration.xml" type="path"/>
		<add key="Application.DataService.PlugIns.File" value="Configuration/DataServicePlugIns.xml" type="path"/>
		<add key="Application.DataProvider.UseDefault" value="true"/>
		<add key="Application.DataProvider.DefaultDataProvider" value="CommonDataProvider"/>
		<add key="Application.DataProvider.DefaultDataProviderServiceName" value="CommonDataProvider"/>
		<!-- Provides Mapping between Model classes and appropriate DataService classes -->
		<add key="Application.DataService.ClassName" value="DSHS.SNF.DataService.DataService, DSHS.SNF.DataService"/>
		<add key="Application.DataService.UseDefault" value="true"/>
		<add key="Application.DataService.Default.Namespace" value="DSHS.CMBHS.DataService"/>
		<add key="Application.DataService.Default.AssemblyName" value="DSHS.CMBHS.DataService"/>
		<add key="Application.DataService.WebCache.Enable" value="true"/>
		<add key="Application.DataService.WebCache.DefaultDataProvider" value="CommonDataProvider"/>
		<add key="Application.DataService.WebCache.DefaultDataProviderServiceName" value="CommonDataProvider"/>
		<add key="Application.DataService.Cache.Enable" value="true"/>
		<add key="Application.DataService.Cache.ExpireMinutes" value="60"/>
		<add key="Application.DataService.KeyFilterVisitor.ClassName" value="DSHS.SNF.DataService.Filter.SybaseQueryKeyFilterVisitor, DSHS.SNF.DataService"/>
		<add key="Application.DataService.ArgsFilterVisitor.ClassName" value="DSHS.SNF.DataService.Filter.SybaseQueryArgsFilterVisitor, DSHS.SNF.DataService"/>
		<add key="Application.DataService.DataSource.Configuration.File" value="Configuration/DataSourceConfiguration.xml" type="path"/>
		<add key="Application.ConnectionManager.ReleaseTimeout.Seconds" value="30"/>
		<add key="Application.ConnectionManager.OpenTimeout.Seconds" value="30"/>
		<add key="Application.Messaging.Enabled" value="true"/>

		<!-- max 5 MB. 1MB = 1048576 Bytes (not 1000000)-->
		<add key="Application.MaxUploadSize" value="5242880" />
		<!-- Settings for security needs -->
		<add key="Security.AccountResetMethod" value="DropAndCreate"/>
		<add key="Security.InitialPasswordLength" value="9"/>
		<add key="Security.MaxCredentialAgeInDays" value="90" />
		<add key="Security.MaxInactivityInDays" value="90" />
		<add key="Security.MaxInactivityInDaysForPrivilegedUser" value="60" />
		<add key="Security.MaxLogonAttempts" value="3"/>
		<add key="Security.MaxPasswordLength" value="15"/>
		<add key="Security.MinPasswordLength" value="9"/>
		<add key="Security.PasswordHistoryLength" value="10"/>
		<add key="Security.PasswordWarningDays" value="14" />
		<add key="Application.Session.PreventSameSessionWithDifferntUser" value="true" />
		<!-- This node to indicate to on/off global client index-->
		<add key="Application.Global.Client" value="true" />
		<add key="Application.Assessment.AssessmentDateExtended" value="03/22/2014" />
		<!-- This node to indicate to make the County Of Residence section visible or not-->
		<add key="Application.COR.HideSection" value="true" />
		<add key="Application.Diagnosis.ICD10Date" value="09/01/2015" />
		<add key="Application.EarlyOnset.Providers" value="1060|2216|1291|1449|1116|2538|446120|2014|1188|2269|446165|446159|446135|446153|406521|2704|2720|2594|1320|1171|55|406445|446156" />
		<add key="Application.CacheType" value="WINDOWS" />
		<add key="Application.CacheExpiry" value="1" />
		<add key="Application.CollectLog.ListCount" value="N" />
		<add key="Application.Mbi.TransitionDate" value="10/01/2017" />
	</settings>
</SNFApplicationSettings>
